.hed2{
    background-color:#264048;
    margin-top: 5%;
    padding: 40px 30px 30px 20px;
    margin-left: 40%;
    opacity: 0.75;
}

.h31{
    font-family: cursive;
    color: white;
    margin-left: 50%;
    margin-top: -30%;
    
    margin-right: 5%;
}

.img-fluid3{
    width: 40%;
    margin-top: 5%;
}

.img5{
    margin-top: 40%;

}

.he2{
    margin-right: 65%;
    margin-top: -30%;
    width: 40%;
    height: -90%;

}

.img4{
    width: 70%;
}

.hed3{
    background-color:#264048;
    margin-top: 5%;
    padding: 40px 30px 30px 20px;
    margin-right: 40%;
    opacity: 0.75;
}

.img-fluid4{
    width: 30%;
    height: 10%;
    margin-top: -70%;
    margin-left: 68%;
    position: relative;
}

.img7{
    margin-top: -70%;
    margin-left: 60%;
    position: relative;

}

.he4{
    margin-top: -15%;
}

