<header class="hed1">

    <h2>Odontologia</h2>

    <img class="img2" src="assets/img/vam.jpg" class="img-fluid1" style="position: relative;">
    <!-- <a routerLink="/odontologia"><button>vamos</button></a> -->

    <h3>Encuentra los mejores planes de afilamineto, cambio de colmillos, blanqueamiento,
        protesis y sesciones de limpieza para esos colmillos destruye

        <br>
        <br>
        <br>

        Tu victima se sentira afotunada de que su cuello sea sucionado por esos blancos y radiantes
        colmillos afilados

        <br>
        <br>
        <br>
        Señor hombre lobo, usted no se preocupe que para usted tenemos planes igual de interesantes como el
        afilamiento de dientes, tratamiento de molares ( para que tu victima no se queje cuando la muerdas),
        tratamiento de mandibula(sabemos lo doloroso que aveces comerce a alguien mas grande)



    </h3>


</header>

    <header class="he1">
        <img class="img3" src="assets/img/die2.jpg" class="img-fluid2" style="position: relative;">
    </header>

    <img class="img1" src="assets/img/fondo.jpg" class="img-fluid"
    style="position: absolute; right: o; top: 0; z-index: -100; opacity: 0.75;">
    
<header class="hed2">

    <h2>Partes para zombies</h2>

    <img class="img5" src="assets/img/zom2.jpeg" class="img-fluid3" style="position: relative;">
    <!-- <a routerLink="/odontologia"><button>vamos</button></a> -->

    <h3 class="h31"> ¿Otra noche en la que un humano te dispara o te quita otra parte del cuerpo?
        ¿De nuevo caminas por ahi y se te cae la cabeza?

        <br>
        <br>
        <br>

        ¿Sabes que? ya no debes preocuparte al respecto en nuestra zona de partes para zoombies
        podras encontrar cualquiera de tus parte faltas (solo si lo cubre el POS) asigna tu cita ahora
         <br>
         <br>
         <br>
        ¿Que esperas para salir a sembrar terror con tus partes bien puestas?

        <br>
        <br>
        <br>

        !!Es hora de causar miedo¡¡

    </h3>


</header>

<header class="he2">
    <img class="img4" src="assets/img/zom.jpg" class="img-fluid2" style="position: relative;">
</header>

<br>
<br>
<br>
<br>    
<br>
<br>

<!--  -->

<header class="hed3">

    <h2>Terapias para mosntruos</h2>

    <img class="img5" src="assets/img/go.jpeg" class="img-fluid3" style="position: relative;">
    <!-- <a routerLink="/odontologia"><button>vamos</button></a> -->

    <h3 class="h31"> ¿Cansado de de asustar, aterrorizar, desollar humanos y torturarlo?
        Tenemos para ti un club campestres exclusivamente para que vengas con tu gargola esposa
        tus endemoniados hijos  pasar unos relajamtes dias fuera de la monotonia del trabajo.
        <br>
        <br>
        <br>
        <br>
        Contamos con piscinas de sangre totalmente climatizada, con ogros y sus increibles masajes,
        lugares para canalizaciones de sangre para que te pierdas del mundo diario tambien habran 
        juegos donde tus niños podran torturar humanos mientras tu disfrutas de tu descanso
        <br>
        <br>
        <br>
        <br>
        <br>
        ¿Que esperas? solamente debes estar afiliado y elejir tu plan,


    </h3>


</header>

<header class="he4">
    <img class="img7" src="assets/img/pi.png" class="img-fluid4" style="position: relative;">
</header>



    