<footer class="footer-distributed">
 
    <div class="footer-left">

    <h3>MonsterFam<span>EPS</span></h3>

    <p class="footer-links">
    <a href="#">Home</a>
·
    <a href="#">Ortodoncia</a>
·
    <a href="#">Parte para zombies</a>
·
    <a href="#">Terapia para monstruos</a>
·
    <a href="#">Faq</a>
·
    <a href="#">Contact</a>
    </p>

    
    </div>

    <div class="footer-center">

    <div>
    
    </div>

    

    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">MonsterFam@sangre.edu.co</a></p>
    </div>

    </div>

    <div class="footer-right">

    <p class="footer-company-about">
    <span>Mantenerte vivo para causar dolor</span>
        no hay nada mejor que verte desollar feliz
    </p>

   

    </div>

    </footer>