<header>
  <div id="header">
  
      <ul class="nav"> 
        <li><a href="">Home</a></li>
        <li><a href="">Odontologia</a>
          <ul>
            <li><a href="">Afilamient0</a></li>
            <li><a href="">Blanqueamiento</a></li>
            <li><a href="">cambio de colmillos</a></li>
            <li><a href="">protesis</a>
              
            </li>
          </ul>
        </li>
        <li><a href="">PartesZo</a>
          <ul>
            <li><a href="">Cabezas</a></li>
            <li><a href="">Brazos</a></li>
            <li><a href="">Piernas</a></li>
            <li><a href="">Organos</a></li>
          </ul>
        </li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>

    <input class="caja" type="text" placeholder="Nombre" name="nombre">

</header>